<h1 class="current-category"><%= params[:genre] %></h1>

<% if @movies.count == 0 %>

	<h1>There are no books currently in this category</h1>

<% else %>

	<div class="row">

		<% @movies.each do |movie| %>
    <#% if movie.status == "published" %>

			<div class="col-md-3">
				<a href="/movies/<%= movie.id %>">
					<%= image_tag movie.movie_img.url(:movie_index), class: "movie" %>
				</a>
			</div>
      <% end %>

		<% end %>

	</div>

<#% end %>
<br>
<%= paginate @movies %>
