<%= form_for([@movie, @movie.reviews.build]) do |f| %>
	<div id="rating-form">
		<label>Rating</label>
	</div>
	<div class="from-group">
		<%= f.label :comment %>
		<%= f.text_area :comment, class: 'form-control' %>
	</div>
	<div class="actions">
		<%= f.button :submit, :class => "btn-custom2" %>
	</div>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>
